In [1]:
data = ['string', 12.56, 12, 12, 'another_string']
data1 = ('string1', 12, 'lola')
data[1] = 13
data

['string', 13, 12, 12, 'another_string']

In [2]:
data1[2] = "lol" 
data1

TypeError: 'tuple' object does not support item assignment

In [5]:
another_list = list(data1) #tuple to list
another_list[2] = 'lol'
another_list

['string1', 12, 'lol']

In [3]:
data1

('string1', 12, 'lola')

In [7]:
founders=["Iron Man", "Thor", "Ant-Man", "Hulk", "Wasp"]
recruits=["Captain America", "Hawkeye"]
founders + recruits

['Iron Man', 'Thor', 'Ant-Man', 'Hulk', 'Wasp', 'Captain America', 'Hawkeye']

In [4]:
stark=("Ned", "Catelyn", "Brandon", "Sansa", "Arya", "Robb")
mormont=("Jeor", "Maege", "Jorah", "Lyanna")
stark + mormont

('Ned',
 'Catelyn',
 'Brandon',
 'Sansa',
 'Arya',
 'Robb',
 'Jeor',
 'Maege',
 'Jorah',
 'Lyanna')

In [6]:
for each in stark + mormont:  #iterating over tuple
    print(each)

Ned
Catelyn
Brandon
Sansa
Arya
Robb
Jeor
Maege
Jorah
Lyanna

In [10]:
my_list = list(stark+mormont)  #changing to list
my_list

['Ned',
 'Catelyn',
 'Brandon',
 'Sansa',
 'Arya',
 'Robb',
 'Jeor',
 'Maege',
 'Jorah',
 'Lyanna']

In [9]:
dna=["A", "G","T","C"] # repetition
dna * 3

['A', 'G', 'T', 'C', 'A', 'G', 'T', 'C', 'A', 'G', 'T', 'C']

In [10]:
glucose=("C6", "H12", "O6") # repetition tuple
glucose*6

('C6',
 'H12',
 'O6',
 'C6',
 'H12',
 'O6',
 'C6',
 'H12',
 'O6',
 'C6',
 'H12',
 'O6',
 'C6',
 'H12',
 'O6',
 'C6',
 'H12',
 'O6')

In [11]:
got=("Ned", "Catelyn", "Brandon", "Sansa", "Arya", "Robb", "Jeor", "Maege", "Jorah", "Lyanna") #in membership in tuple
"Arya" in got

True

In [12]:
"Jon" not in got

True

In [13]:
another_tuple = tuple(data) # The tuple() function takes only one argument which should be either a list, tuple or string
another_tuple # This is a tuple because when a sequence is not enclosed in any brackets, # it is interpreted as a tuple by Python.

('string', 13, 12, 12, 'another_string')

In [14]:
another_tuple[1:4] #slicing important as 4th element is not here

(13, 12, 12)

In [15]:
another_tuple[3:] #slicing in tuple

(12, 'another_string')

In [16]:
for each in another_tuple:
    print(each)

string
13
12
12
another_string

In [17]:
t1 = tuple("internshala")
t1

('i', 'n', 't', 'e', 'r', 'n', 's', 'h', 'a', 'l', 'a')

In [19]:
l2 = list("internshala")
l2

['i', 'n', 't', 'e', 'r', 'n', 's', 'h', 'a', 'l', 'a']

In [19]:
set_data_type = set(data)
set_data_type # indexing not done on sets as not an ordered collection of objects like lists or tuple

{'another_string', 12, 13, 'string'}

In [20]:
S1={1, "Ravi", 75.50}
S1

{1, 75.5, 'Ravi'}

In [21]:
S2={10,23,40,23,50,10} 
S2

{10, 23, 40, 50}

In [22]:
S1=set("Internshala")
S1

{'I', 'a', 'e', 'h', 'l', 'n', 'r', 's', 't'}

In [23]:
S3=set((10,25,15)) #tuple to set 
S3

{10, 15, 25}

In [24]:
S1={(10,10), 10,20} # Numbers (integer, float as well as complex), strings, and tuple objects are accepted but list and dictionary objects are not.
S1

{10, 20, (10, 10)}

In [25]:
S1=set({"Python", "Java", "C++"})
S1.add("Perl")
S1

{'C++', 'Java', 'Perl', 'Python'}

In [8]:
s1 = {"Python", "Java", "C++"}
type(s1)

set

In [26]:
S1.update(["C++", "Basic"]) # add more than 1 item c++ was common
S1

{'Basic', 'C++', 'Java', 'Perl', 'Python'}

In [27]:
S1.clear()
S1

set()

In [28]:
S1={"Python", "Java", "C++"}
S2=S1.copy()
S2

{'C++', 'Java', 'Python'}

In [29]:
S1.discard("Java")
S1

{'C++', 'Python'}

In [30]:
S1.discard("SQL") # sql was not there
S1

{'C++', 'Python'}

In [31]:
S1.remove("C++")
S1

{'Python'}

In [32]:
S1.remove("SQL") #remove and discard

KeyError: 'SQL'

In [33]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
s1 & s2

{4, 5}

In [36]:
s1.intersection(s2)

{4, 5}

In [37]:
s1-s2

{1, 2, 3}

In [38]:
s2-s1

{6, 7, 8}

In [39]:
s1.difference(s2)

{1, 2, 3}

In [40]:
s1^s2

{1, 2, 3, 6, 7, 8}

In [41]:
s2.symmetric_difference(s1)

{1, 2, 3, 6, 7, 8}