In [ ]:
# tables or entities
# tables - tuples or record and attributes

# primary key - unique for each record
# foreign key - relationship can be established between two tables
# data redundancy and data integerity- completeness, consistency, and accuracy of data

In [ ]:
# RDBMS - update, delete 
# sql -- donald chamberlin and R.F. boyce
# SQL----Query and manipulate data
#       SQL

#Data definition language-creating modifying and deleting a table

#Data retrieval - query and retrieving data from tables
#Data manipulation language - inserting, update and deleting data in table INSERT,DELETE,UPDATE
#Transaction control - Changes made by DML statements COMMIT ROLLBACK
#Data control
#

# CRUD - Create retrieve update and delete

In [ ]:
"SQLite"
"data type - BLOB or Binary Large Object can be used to store any kind of data. The maximum size of BLOBs is unlimited."
# doesn't need a server
# doesn't need configuration
# easily connect to databases
create table players(Name,Country,Ranking,Speciality);
insert into players values("M shami","India",19,"Bowler");
select * from players;

In [ ]:
SQL Statements

Constraints - PRIMARY KEY,FOREIGN KEY,NOT NULL

INSERT INTO Gryffindor (Name, Year, Quidditch) VALUES ("Oliver Wood",5,"Keeper");
"The general usage of the INSERT statement is INSERT INTO table (col1, col2, ...) VALUES (val1, val2..)."

See examples of these in detail---

CREATE TABLE query
INSERT query
SELECT query
UPDATE query
DELETE query